{% extends 'flatpages/default.html' %}
{% load custom_filters %}
{% load custom_tags %}
{% block title %}
Current news
{% endblock title %}

<!-- В контенте на странице мы выводим все новости -->
{% block content %}
<h1>Current posts:</h1>
<h3>There is {{posts|length}} posts:</h3>

<hr>
{% if posts %}

    <table width="100%"> <!-- Начинаем описывать таблицу , ширина таблицы = 50%-->
        <tr> <!-- Добавляем строку -->
            <td> <b>Id </b> </td>
            <td> <b>Heading </b> </td> <!-- Добавляем ячейку в строку <b> - выделяем жирным-->
            <td> <b>Date creation</b> </td>
            <td> <b>Text</b> </td>
            <td> <b>Category Type</b> </td>
        </tr> <!-- Не забываем закрыть HTML-тег строки -->

           {% for post in posts %} <!-- данные из views -->
           <tr>
               <!-- Не забываем, что переменные в шаблоне ничем не отличаются
                от переменных в Python. Здесь также можно получать доступ к
                полям объекта модели. Например, здесь мы выводим имя,
                в следующем столбце описание, и т.д.  -->
               <td>{{ post.id}}</td>
               <td>{{ post.heading|censor }}</td>
               <td>{{ post.datetime_post|date:"d M Y"}}</td>
               <td>{{ post.text|truncatechars:20|censor}}</td>
               <td>{{ post.post_category}}</td>
               
           </tr>
           {% endfor %}
    </table> <!-- ... и таблицы -->
{% else %}
       <!-- Если новостей нет, то говорим, что новостей нет -->
       <h2>No current news!</h2>
{% endif %}
{# Добавляем пагинацию на страницу #}
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}

{% endblock content%}

